<!-- Rename to Index -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="css/navigation.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/styles.css"
      rel="stylesheet"
      type="text/css"
      media="all"
      s
    />
    <title>Test</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="nav-links">
          <div class="nav-link">
            <a href="index.html">Home</a>
          </div>
          <div class="nav-link">
            <a href="breakfast.html">Breakfast</a>
          </div>
          <div class="nav-link">
            <a href="lunch.html">Lunch</a>
          </div>
          <div class="nav-link">
            <a href="dinner.html">Dinner</a>
          </div>
        </div>
        <div class="nav-title">
          <h1>Meal Voting</h1>
        </div>
      </div>
    </nav>
    <form method="POST" action="/vote-new">
      <input type="text" name="meal_type" id="meal_type" />
      <input type="text" name="menu_item" id="menu_item" />
      <button type="submit">Submit</button>
    </form>
    <script src="script/script.js"></script>
  </body>
</html>
